.buy {
  color: white !important;
  background-color: transparent !important;
  margin-bottom: 20px !important;
  border: white 1px solid !important;
  border-radius: 0 !important;
  padding: 10px 25px !important;
}
.buy:hover {
  background-color: #aaa !important;
  color: black !important;
}
